---
import Layout from "@/layouts/layout.astro";
import QuranPage from "@/components/quran/quran-page";
import { getSurahList } from "@/lib/api/quran";

export const prerender = true;

const surah = await getSurahList();

const q = Astro.url.searchParams.get("q") ?? "";
const mode = (Astro.url.searchParams.get("mode") ?? "surah") as "surah" | "page";
---

<Layout title="Al-Qur'an" description="Daftar surah Al-Qur'an.">
  <main class="mx-auto w-full max-w-7xl px-4 py-12 md:px-6 md:py-16">
    <!-- HERO -->
    <QuranPage client:idle initialMode={mode} initialQuery={q} surahList={surah} />
  </main>
</Layout>
